---
import type { Cuiz } from '@/types'
interface Props {
    card: Cuiz
}


const { card } = Astro.props;
---


<article class="featured-cuiz" data-difficulty={card.difficulty.toLowerCase()}>
    <img hidden={!card?.image} class="featured-cuiz-image" src="/test.png" alt="Trachea" />

    <div class="featured-cuiz-content">
        <span class="featured-cuiz-course text-gradient">{card.course}</span>
        <h2 class="featured-cuiz-heading">{card.title}</h2>
        <p class="featured-cuiz-description">{card.description}</p> 
        <span class="featured-cuiz-difficulty">{card.difficulty}</span>
        <span class="featured-cuiz-count">{card.questions.length} terms</span>
    </div>
</article>


<style lang="scss">
.featured-cuiz {
    --border-radius: 0.5rem;
    --clr: hsl(306deg 30% 97%);
    --bg: hsl(306deg 30% 45%);
    padding: var(--border-radius);
    //width: min(350px, 100%);
    background: var(--clr-white);
    border-radius: calc(1.5 * var(--border-radius));
    box-shadow: 0 2px 5px -3px hsl(var(--shadow-color-light) / 20%);
    position: relative;



    &[data-difficulty="easy"] {
        --bg: var(--clr-easy); 
    }
    &[data-difficulty="medium"] {
        --bg: var(--clr-medium); 
    }
    &[data-difficulty="hard"] {
        --bg: var(--clr-hard); 
    }

    &-image {
        height: min(150px, 60vh);
        width: 100%;
        outline: 2px solid hsl(var(--shadow-color-light) / 20%);
        object-fit: cover;
        border-radius: var(--border-radius);
        filter: grayscale(0.75);
        transition: 200ms filter ease-out;
    }


    &:hover &-image {
        filter: none;
    }


    &-content {
        display: grid;
        gap: var(--space-3xs);
        padding: var(--space-xs) var(--space-2xs) var(--space-s);
    }

    &-course {
        justify-self: start;
        font-weight: 700;
        font-size: var(--step-n2);
        letter-spacing: 1px;
        cursor: pointer;
        text-transform: uppercase;


    }


    &-heading {
        font-size: var(--step-3);
        font-weight: 600;
        line-height: 0.95;
        justify-self: start;
    }


    &-description {
        font-size: var(--step-n0);
        margin-top: 0.25rem;
        line-height: 1.4;
    }

    &-difficulty {
        font-weight: 700;
        font-size: var(--step-n2);
        letter-spacing: 0.5px;
        text-transform: uppercase;
        justify-self: start;
        padding: 0.2rem 0.4rem 0.25rem;
        border-radius: 0.65rem;
        margin-top: var(--space-2xs);
        background: var(--bg);
        color: var(--clr);
        
    }

    &-count {
        --offset: calc(0 * var(--border-radius));
        position: absolute;
        inset: var(--offset) var(--offset) auto auto;
        background: var(--clr-white);
        padding: 0.5rem 0.65rem;
        border-radius: 0 var(--border-radius) 0;
        box-shadow: 0 0 5px -2px hsl(var(--shadow-color-dark) / 30%);
        font-weight: 700;
        font-size: var(--step-n1);
    }

}


</style>
