---
import type { SeriesSectionProps } from '@/types';
import { Show } from 'solid-js';
interface Props {
    data: SeriesSectionProps
}

const { data } = Astro.props
console.log(data)
---

<div class="series-section">
    <p class="series-section-message">This quiz is <span class="series-section-count">{data.currentIndex + 1} of {data.seriesCount}</span> in the <a href={`/series/${data.seriesLink}`} class="series-section-series-link">{data.title}</a> series</p>

    <div class="series-section-quizzes">
        <Show when={data.previousTitle > ""}>
            <a href={`/quiz/${data.previousLink}`} class="series-section-link-previous">Previous: <span>{data.previousTitle}</span></a>
        </Show>
        <Show when={data.nextTitle > ""}>
            <a href={`/quiz/${data.nextLink}`} class="series-section-link-next">Next: <span>{data.nextTitle}</span></a> 
        </Show>
    </div>
</div>



<style lang="scss">
.series-section {
    width: min(45rem, 100%);
    margin-inline: auto;
    padding: 0.75rem 1rem 1rem;
    border-radius: 0.5rem;
    background: var(--clr-white);
    border: var(--border);
    margin-block: 1rem 1.5rem;
    display: grid;
    gap: 0.75rem;

    @media (min-width: 800px) {
        padding: 1rem 1.5rem 1.25rem;
    }

    &-count {
        font-family: var(--font-heading);
        font-weight: 300;
    }

    &-message {
        line-height: 1.4;
        font-size: var(--step-1);
    }


    &-series-link {
        text-decoration: 3px var(--text-gradient-fallback) underline;
        font-weight: 500;
        color: var(--clr-gray-700);
        font-family: var(--font-heading);
    }


    &-quizzes {
        display: flex;
        gap: 0.5rem;
        flex-flow: row wrap;
        justify-content: space-between;
    }


    &-link-previous, &-link-next {
        font-size: var(--step-1);
        font-family: var(--font-heading);
        font-weight: 300;
        padding: 0.45rem 0.75rem 0.5rem;
        letter-spacing: -0.5px;
        border: var(--border);
        border-radius: 0.5rem;
        text-decoration: none;
        color: var(--clr-gray-700);

        span {
            font-weight: 600;
        }


        &:hover {
            transition: 100ms;
            background: var(--clr-gray-700);
            color: var(--clr-white);
        }

        &:focus-visible {
            text-decoration: underline;
        }
    }


    &-link-next {
        margin-left: auto;
    }

}
</style>
